:root {
    --dominant-color: #F9AA34;
    --primary-color: #C17B00;
    --secondary-color: #5C5C5C;
    --success-color: #20AC6B;
    --danger-color: #AE1E2C;
    --warning-color: #CC9900;
    --info-color: #0AA3C2;
    --dominant-text: #000000;
    --primary-text: #FFFFFF;
    --secondary-text: #FFFFFF;
    --success-text: #FFFFFF;
    --danger-text: #FFFFFF;
    --warning-text: #000000;
    --info-text: #FFFFFF;
  }
  .cid-tTB035SF4n {
    z-index: 1000;
    width: 100%;
    position: relative;
  }

  .cid-tTB035SF4n .dropdown-item:before {
    font-family: Moririse2 !important;
    content: "\e966";
    display: inline-block;
    width: 0;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1;
    font-size: inherit;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    transform: scale(0, 1);
    transition: all 0.25s ease-in-out;
  }

  @media (max-width: 767px) {
    .cid-tTB035SF4n .navbar-toggler {
      transform: scale(0.8);
    }
  }

  .cid-tTB035SF4n .navbar-brand {
    flex-shrink: 0;
    align-items: center;
    margin-right: 0;
    padding: 10px 0;
    transition: all 0.3s;
    word-break: break-word;
    z-index: 1;
  }

  .cid-tTB035SF4n .navbar-brand img {
    max-width: 100%;
    max-height: 100%;
  }

  .cid-tTB035SF4n .navbar-brand .navbar-caption {
    line-height: inherit !important;
  }

  .cid-tTB035SF4n .navbar-brand .navbar-logo a {
    outline: none;
  }

  .cid-tTB035SF4n .navbar-nav {
    margin: auto;
    margin-left: 0;
    margin-left: auto;
  }

  .cid-tTB035SF4n .navbar-nav .nav-item {
    padding: 0 !important;
    transition: 0.3s all !important;
  }

  .cid-tTB035SF4n .navbar-nav .nav-item .nav-link {
    padding: 16px !important;
    margin: 0 !important;
    border-radius: 1rem !important;
    transition: 0.3s all !important;
  }

  .cid-tTB035SF4n .navbar-nav .nav-item .nav-link:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }

  .cid-tTB035SF4n .navbar-nav .open .nav-link::after {
    transform: rotate(180deg);
  }

  @media (min-width: 992px) {
    .cid-tTB035SF4n .navbar-nav .open .nav-link::before {
      content: "";
      width: 100%;
      height: 20px;
      top: 100%;
      background: transparent;
      position: absolute;
    }
  }

  .cid-tTB035SF4n .navbar-nav .dropdown-item {
    padding: 12px !important;
    border-radius: 0.5rem !important;
    margin: 0 8px !important;
    transition: 0.3s all !important;
  }

  .cid-tTB035SF4n .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }

  @media (min-width: 992px) {
    .cid-tTB035SF4n .navbar-nav {
      padding-left: 1.5rem;
    }
  }

  .cid-tTB035SF4n .nav-link {
    width: fit-content;
    position: relative;
  }

  .cid-tTB035SF4n .navbar-logo {
    margin: 0 !important;
  }

  @media (max-width: 767px) {
    .cid-tTB035SF4n .navbar-logo {
      padding-left: 0;
    }
  }

  .cid-tTB035SF4n .navbar-caption {
    padding-left: 1rem;
    padding-right: 0.5rem;
  }

  @media (max-width: 767px) {
    .cid-tTB035SF4n .nav-dropdown {
      padding-bottom: 0.5rem;
    }
  }

  .cid-tTB035SF4n .nav-dropdown .link.dropdown-toggle::after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    transition: 0.3s all;
  }

  .cid-tTB035SF4n .container {
    display: flex;
    height: 90px;
    padding: 0.5rem 0.6rem 0.5rem 1rem;
    flex-wrap: nowrap;
    background: rgba(255, 255, 255, 0.8) !important;
    left: 0;
    right: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100vw;
    margin-top: 1rem;
    background-color: #ffffff;
    box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
  }

  @media (max-width: 992px) {
    .cid-tTB035SF4n .container {
      padding-right: 2rem;
    }
  }

  @media (max-width: 767px) {
    .cid-tTB035SF4n .container {
      width: 95%;
      height: 56px !important;
      padding: 0.5rem;
      margin-top: 0rem;
    }
  }

  .cid-tTB035SF4n .iconfont-wrapper {
    font-size: 1.5rem;
    padding-right: 0.5rem;
  }

  .cid-tTB035SF4n .dropdown-menu {
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    padding: 12px 4px !important;
    border-radius: 1.5rem;
    transition: 0.3s all !important;
    min-width: auto;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.8) !important;
  }

  .cid-tTB035SF4n .nav-item:focus,
  .cid-tTB035SF4n .nav-link:focus {
    outline: none;
  }

  .cid-tTB035SF4n .dropdown .dropdown-menu .dropdown-item {
    width: auto;
    transition: all 0.25s ease-in-out;
  }

  .cid-tTB035SF4n .dropdown .dropdown-menu .dropdown-item::after {
    right: 0.5rem;
  }

  .cid-tTB035SF4n .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
    margin-right: 0.5rem;
    vertical-align: sub;
  }

  .cid-tTB035SF4n .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
    display: inline-block;
    transform: scale(1, 1);
    transition: all 0.25s ease-in-out;
  }

  .cid-tTB035SF4n .collapsed .dropdown-menu .dropdown-item:before {
    display: none;
  }

  .cid-tTB035SF4n .collapsed .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }

  .cid-tTB035SF4n .navbar {
    min-height: 90px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    background: transparent !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }

  .cid-tTB035SF4n .navbar.opened {
    transition: all 0.3s;
  }

  .cid-tTB035SF4n .navbar .dropdown-item {
    padding: 0.5rem 1.8rem;
  }

  .cid-tTB035SF4n .navbar .navbar-logo img {
    width: auto;
  }

  .cid-tTB035SF4n .navbar .navbar-collapse {
    z-index: 1;
    justify-content: flex-end;
  }

  .cid-tTB035SF4n .navbar.collapsed {
    justify-content: center;
  }

  .cid-tTB035SF4n .navbar.collapsed .nav-item .nav-link::before {
    display: none;
  }

  .cid-tTB035SF4n .navbar.collapsed.opened .dropdown-menu {
    top: 0;
  }

  @media (min-width: 992px) {
    .cid-tTB035SF4n .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
      max-height: calc(98.5vh - 4.3rem);
    }
  }

  .cid-tTB035SF4n .navbar.collapsed .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }

  .cid-tTB035SF4n .navbar.collapsed .dropdown-menu .dropdown-item:after {
    right: auto;
  }

  .cid-tTB035SF4n .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 41%;
  }

  .cid-tTB035SF4n .navbar.collapsed ul.navbar-nav li {
    margin: auto;
  }

  .cid-tTB035SF4n .navbar.collapsed .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
  }

  .cid-tTB035SF4n .navbar.collapsed .icons-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  @media (max-width: 767px) {
    .cid-tTB035SF4n .navbar {
      min-height: 72px;
    }

    .cid-tTB035SF4n .navbar .navbar-logo img {
      height: 2.5rem !important;
    }
  }

  @media (max-width: 991px) {
    .cid-tTB035SF4n .navbar .nav-item .nav-link::before {
      display: none;
    }

    .cid-tTB035SF4n .navbar.opened .dropdown-menu {
      top: 0;
    }

    .cid-tTB035SF4n .navbar .dropdown-menu .dropdown-submenu {
      left: 0 !important;
    }

    .cid-tTB035SF4n .navbar .dropdown-menu .dropdown-item:after {
      right: auto;
    }

    .cid-tTB035SF4n .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
      margin-left: 0.5rem;
      margin-top: 0.2rem;
      border-top: 0.35em solid;
      border-right: 0.35em solid transparent;
      border-left: 0.35em solid transparent;
      border-bottom: 0;
      top: 40%;
    }

    .cid-tTB035SF4n .navbar .dropdown-menu .dropdown-item {
      padding: 0.25rem 1.5rem !important;
      text-align: center;
    }

    .cid-tTB035SF4n .navbar .navbar-brand {
      flex-shrink: initial;
      flex-basis: auto;
      word-break: break-word;
      padding-right: 10px;
    }

    .cid-tTB035SF4n .navbar .navbar-toggler {
      flex-basis: auto;
    }

    .cid-tTB035SF4n .navbar .icons-menu {
      padding-left: 0;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  .cid-tTB035SF4n .navbar.navbar-short .navbar-logo img {
    height: 2rem;
  }

  .cid-tTB035SF4n .dropdown-item.active,
  .cid-tTB035SF4n .dropdown-item:active {
    background-color: transparent;
  }

  .cid-tTB035SF4n .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }

  .cid-tTB035SF4n .nav-dropdown .link.dropdown-toggle {
    margin-right: 1.667em;
  }

  .cid-tTB035SF4n .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    margin-right: 0;
    padding: 0.667em 1.667em;
  }

  .cid-tTB035SF4n .navbar.navbar-expand-lg .dropdown .dropdown-menu {
    background: #ffffff;
  }

  .cid-tTB035SF4n .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
    margin: 0;
    left: 105%;
    transform: none;
    top: -12px;
  }

  .cid-tTB035SF4n .navbar .dropdown.open>.dropdown-menu {
    display: flex;
  }

  .cid-tTB035SF4n ul.navbar-nav {
    flex-wrap: wrap;
  }

  .cid-tTB035SF4n .navbar-buttons {
    text-align: center;
    min-width: 140px;
  }

  @media (max-width: 992px) {
    .cid-tTB035SF4n .navbar-buttons {
      text-align: left;
    }
  }

  .cid-tTB035SF4n button.navbar-toggler {
    outline: none;
    width: 31px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }

  .cid-tTB035SF4n button.navbar-toggler .hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #000000;
  }

  .cid-tTB035SF4n button.navbar-toggler .hamburger span:nth-child(1) {
    top: 0;
    transition: all 0.2s;
  }

  .cid-tTB035SF4n button.navbar-toggler .hamburger span:nth-child(2) {
    top: 8px;
    transition: all 0.15s;
  }

  .cid-tTB035SF4n button.navbar-toggler .hamburger span:nth-child(3) {
    top: 8px;
    transition: all 0.15s;
  }

  .cid-tTB035SF4n button.navbar-toggler .hamburger span:nth-child(4) {
    top: 16px;
    transition: all 0.2s;
  }

  .cid-tTB035SF4n nav.opened .hamburger span:nth-child(1) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
  }

  .cid-tTB035SF4n nav.opened .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    transition: all 0.25s;
  }

  .cid-tTB035SF4n nav.opened .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    transition: all 0.25s;
  }

  .cid-tTB035SF4n nav.opened .hamburger span:nth-child(4) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
  }

  .cid-tTB035SF4n .navbar-dropdown {
    padding: 0 1rem;
  }

  .cid-tTB035SF4n a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cid-tTB035SF4n .icons-menu {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    text-align: center;
  }

  @media (max-width: 992px) {
    .cid-tTB035SF4n .icons-menu {
      justify-content: flex-start;
      margin-bottom: 0.5rem;
    }
  }

  @media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
    .cid-tTB035SF4n .navbar {
      height: 70px;
    }

    .cid-tTB035SF4n .navbar.opened {
      height: auto;
    }

    .cid-tTB035SF4n .nav-item .nav-link:hover::before {
      width: 175%;
      max-width: calc(100% + 2rem);
      left: -1rem;
    }
  }

  .cid-tTB035SF4n .navbar .dropdown>.dropdown-menu {
    display: none;
    width: max-content;
    max-width: 500px !important;
    transform: translateX(-50%);
    top: calc(100% + 20px);
    left: 50%;
  }

  .cid-tTB035SF4n .navbar .dropdown>.dropdown-menu .dropdown-item {
    line-height: 1 !important;
  }

  .cid-tTB035SF4n .navbar .dropdown>.dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }

  .cid-tTB035SF4n .navbar .dropdown>.dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(-90deg);
  }

  .cid-tTB035SF4n .navbar .dropdown>.dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(0deg);
  }

  .cid-tTB035SF4n .mbr-section-btn {
    margin: -0.6rem -0.6rem;
  }

  .cid-tTB035SF4n .navbar-toggler {
    margin-left: 12px;
    margin-right: 8px;
    order: 1000;
  }

  @media (max-width: 991px) {
    .cid-tTB035SF4n .navbar-brand {
      margin-right: auto;
    }

    .cid-tTB035SF4n .navbar-collapse {
      z-index: -1 !important;
      position: absolute;
      top: 110%;
      left: 0;
      width: 100%;
      padding: 1rem;
      border-radius: 1.5rem;
      background: #ffffff;
      opacity: 1;
      border-color: rgba(255, 255, 255, 0.8) !important;
      background: rgba(255, 255, 255, 0.8) !important;
      backdrop-filter: blur(8px);
    }

    .cid-tTB035SF4n .navbar-nav .nav-item .nav-link::after {
      margin-left: 10px;
    }

    .cid-tTB035SF4n .navbar-nav .dropdown-item:hover {
      background-color: rgba(27, 31, 10, 0.06);
    }

    .cid-tTB035SF4n .navbar .dropdown>.dropdown-menu {
      max-width: 100% !important;
      transform: translateX(0);
      top: 10px;
      left: 0;
      padding: 8px !important;
      border-radius: 1rem;
      background-color: rgba(27, 31, 10, 0.04) !important;
    }

    .cid-tTB035SF4n .navbar .dropdown>.dropdown-menu .dropdown-item {
      padding: 8px !important;
      line-height: 1 !important;
      margin-bottom: 4px !important;
    }

    .cid-tTB035SF4n .navbar .dropdown>.dropdown-menu .dropdown .dropdown-item {
      align-items: center;
      display: flex;
      height: max-content !important;
      min-height: max-content !important;
    }

    .cid-tTB035SF4n .navbar .dropdown>.dropdown-menu .dropdown .dropdown-item::after {
      display: inline-block;
      position: static;
      margin-left: 0.5rem;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      transition: 0.3s all;
      transform: rotate(0deg);
    }

    .cid-tTB035SF4n .navbar .dropdown>.dropdown-menu .dropdown.open .dropdown-item::after {
      transform: rotate(180deg);
    }

    .cid-tTB035SF4n .navbar .dropdown>.dropdown-menu .dropdown-submenu {
      position: static;
      width: 100%;
      max-width: 100% !important;
      transform: translateX(0) !important;
      top: 0;
      left: 0;
      padding: 8px !important;
      border-radius: 1rem;
      background-color: rgba(27, 31, 10, 0.04) !important;
    }

    .cid-tTB035SF4n .navbar .dropdown.open>.dropdown-menu {
      display: flex !important;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  @media (max-width: 575px) {
    .cid-tTB035SF4n .navbar-collapse {
      padding: 1rem;
    }
  }
  .cid-tTB035TunW {
    display: flex;
  }

  @media (min-width: 768px) {
    .cid-tTB035TunW {
      align-items: flex-end;
    }

    .cid-tTB035TunW .row {
      justify-content: center;
    }

    .cid-tTB035TunW .content-wrap {
      padding: 1rem 3rem;
    }
  }

  @media (max-width: 991px) and (min-width: 768px) {
    .cid-tTB035TunW .content-wrap {
      min-width: 50%;
    }
  }

  @media (max-width: 767px) {
    .cid-tTB035TunW {
      -webkit-align-items: center;
      align-items: flex-end;
    }

    .cid-tTB035TunW .mbr-row {
      -webkit-justify-content: center;
      justify-content: center;
    }

    .cid-tTB035TunW .content-wrap {
      width: 100%;
    }
  }

  .cid-tTB035TunW .mbr-fallback-image.disabled {
    display: none;
  }

  .cid-tTB035TunW .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #000000;
  }

  .cid-tTB035TunW .mbr-section-title,
  .cid-tTB035TunW .mbr-section-subtitle {
    text-align: left;
    color: var(--dominant-color, #ffc091);
  }

  .cid-tTB035TunW .mbr-text,
  .cid-tTB035TunW .mbr-section-btn {
    text-align: center;
  }

  .cid-tTB035TunW .mbr-section-title {
    text-align: center;
  }
  .cid-tTB035TXET {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: transparent;
  }

  .cid-tTB035TXET .mbr-fallback-image.disabled {
    display: none;
  }

  .cid-tTB035TXET .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  @media (max-width: 767px) {
    .cid-tTB035TXET .image-wrapper {
      flex-direction: column;
    }

    .cid-tTB035TXET .image-wrapper img {
      margin: auto;
      margin-bottom: 1rem;
    }
  }

  .cid-tTB035TXET .card-box {
    max-width: 700px;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: 0;
  }

  .cid-tTB035TXET img,
  .cid-tTB035TXET .item-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .cid-tTB035TXET .card-wrapper {
    background: #ffffff;
  }

  .cid-tTB035TXET .mbr-text,
  .cid-tTB035TXET .mbr-section-btn {
    color: #000000;
  }

  .cid-tTB035TXET .card-title,
  .cid-tTB035TXET .card-box {
    color: #232323;
  }

  @media (max-width: 767px) {
    .cid-tTB035TXET .card-content-text {
      padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    }
  }

  @media (min-width: 768px) {
    .cid-tTB035TXET .card-content-text {
      padding: 2.25rem 2.25rem 2.25rem 2.25rem;
    }
  }
  .cid-tTB035UiNV {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: transparent;
  }

  .cid-tTB035UiNV .mbr-fallback-image.disabled {
    display: none;
  }

  .cid-tTB035UiNV .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  .cid-tTB035UiNV .card-wrapper {
    overflow: hidden;
    background: #fff;
  }

  .cid-tTB035UiNV .text-wrapper {
    padding: 4rem 3rem;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .cid-tTB035UiNV .text-wrapper {
      padding: 2.25rem;
    }
  }

  @media (max-width: 767px) {
    .cid-tTB035UiNV .text-wrapper {
      padding: 1.5rem;
    }
  }

  .cid-tTB035UiNV .row {
    margin-right: -1rem;
    margin-left: -1rem;
  }

  .cid-tTB035UiNV .row {
    flex-direction: row-reverse;
  }

  .cid-tTB035UiNV .image-wrapper {
    display: flex;
    padding: 0 1rem;
    align-items: stretch;
  }

  .cid-tTB035UiNV img,
  .cid-tTB035UiNV .image-wrapper {
    object-fit: cover;
  }

  @media (max-width: 767px) {

    .cid-tTB035UiNV img,
    .cid-tTB035UiNV .image-wrapper {
      max-height: 350px;
    }
  }

  .cid-tTB035UiNV .mbr-section-title {
    color: #000000;
  }

  .cid-tTB035UiNV .mbr-text {
    color: #000000;
  }
  .cid-tTB0363cwY {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: transparent;
  }

  .cid-tTB0363cwY img,
  .cid-tTB0363cwY .item-img {
    width: 100%;
    height: 100%;
    height: 300px;
    object-fit: cover;
  }

  .cid-tTB0363cwY .item:focus,
  .cid-tTB0363cwY span:focus {
    outline: none;
  }

  .cid-tTB0363cwY .item {
    margin-bottom: 2rem;
  }

  @media (max-width: 767px) {
    .cid-tTB0363cwY .item {
      margin-bottom: 1rem;
    }
  }

  .cid-tTB0363cwY .item-content {
    margin-top: 2rem;
    padding: 0 2.25rem 2.25rem;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  @media (max-width: 767px) {
    .cid-tTB0363cwY .item-content {
      padding: 2rem 1.5rem;
      padding-top: 1rem;
      margin-top: 1rem;
    }
  }

  .cid-tTB0363cwY .item-wrapper {
    position: relative;
    background: #ffffff;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  .cid-tTB0363cwY .item-wrapper .item-footer {
    margin-top: auto;
  }

  .cid-tTB0363cwY .mbr-section-title {
    color: #000000;
  }

  .cid-tTB0363cwY .item-title {
    text-align: left;
  }

  .cid-tTB0363cwY .item-subtitle {
    text-align: left;
  }

  .cid-tTB0363cwY .mbr-text,
  .cid-tTB0363cwY .item .mbr-section-btn {
    text-align: left;
  }

  .cid-tTB0363cwY .content-head {
    max-width: 800px;
  }
  .cid-tTB036psBx {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: transparent;
  }

  .cid-tTB036psBx .mbr-fallback-image.disabled {
    display: none;
  }

  .cid-tTB036psBx .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  .cid-tTB036psBx .item {
    margin-bottom: 2rem;
  }

  @media (max-width: 767px) {
    .cid-tTB036psBx .item {
      margin-bottom: 1rem;
    }
  }

  .cid-tTB036psBx .item-wrapper {
    height: 100%;
    position: relative;
  }

  .cid-tTB036psBx .item-wrapper img {
    height: 100%;
    object-fit: cover;
  }

  .cid-tTB036psBx .item-wrapper .icon-wrapper {
    pointer-events: none;
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 22px;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 50%;
    opacity: 0;
    color: #464845 !important;
    transform: translateX(-50%) translateY(-50%);
    background-color: #edefea !important;
    transition: 0.2s;
  }

  .cid-tTB036psBx .item-wrapper:hover .icon-wrapper {
    opacity: 1;
  }

  .cid-tTB036psBx .carousel-control,
  .cid-tTB036psBx .close {
    background: #1b1b1b;
  }

  .cid-tTB036psBx .carousel-control-prev {
    margin-left: 2.5rem;
  }

  .cid-tTB036psBx .carousel-control-prev span {
    margin-right: 5px;
  }

  .cid-tTB036psBx .carousel-control-next {
    margin-right: 2.5rem;
  }

  .cid-tTB036psBx .carousel-control-next span {
    margin-left: 5px;
  }

  .cid-tTB036psBx .close {
    position: fixed;
    opacity: 0.5;
    font-size: 22px;
    font-weight: 300;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    top: 2.5rem;
    right: 2.5rem;
    border: 2px solid #fff;
    text-shadow: none;
    z-index: 5;
    transition: opacity 0.3s ease;
    font-family: 'Moririse2';
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .cid-tTB036psBx .close::before {
    content: '\e91a';
  }

  .cid-tTB036psBx .close:hover {
    opacity: 1;
    background: #000;
    color: #fff;
  }

  .cid-tTB036psBx .carousel-control {
    display: flex;
    top: 50%;
    width: 60px;
    height: 60px;
    margin-top: -1.5rem;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 0.3s;
  }

  .cid-tTB036psBx .carousel-control.carousel-control-prev {
    left: 0;
    margin-left: 2.5rem;
  }

  .cid-tTB036psBx .carousel-control.carousel-control-next {
    right: 0;
    margin-right: 2.5rem;
  }

  @media (max-width: 767px) {
    .cid-tTB036psBx .carousel-control {
      top: auto;
      bottom: 1rem;
    }
  }

  .cid-tTB036psBx .carousel-indicators {
    position: absolute;
    bottom: 0;
    margin-bottom: 3px;
  }

  .cid-tTB036psBx .carousel-indicators li {
    max-width: 15px;
    height: 15px;
    width: 15px;
    max-height: 15px;
    margin: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 0.5;
    transition: all 0.3s;
  }

  .cid-tTB036psBx .carousel-indicators li.active,
  .cid-tTB036psBx .carousel-indicators li:hover {
    opacity: 0.9;
  }

  .cid-tTB036psBx .carousel-indicators li::after,
  .cid-tTB036psBx .carousel-indicators li::before {
    content: none;
  }

  .cid-tTB036psBx .carousel-indicators.ie-fix {
    left: 50%;
    display: block;
    width: 60%;
    margin-left: -30%;
    text-align: center;
  }

  @media (max-width: 768px) {
    .cid-tTB036psBx .carousel-indicators {
      display: none !important;
    }
  }

  @media (max-width: 991px) {
    .cid-tTB036psBx .carousel-indicators {
      margin-bottom: 3.625rem !important;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }

  @media (max-width: 767px) {
    .cid-tTB036psBx .carousel-indicators {
      display: none;
    }
  }

  .cid-tTB036psBx .carousel-inner {
    display: flex;
    align-items: center;
  }

  .cid-tTB036psBx .carousel-inner>.active {
    display: block;
  }

  .cid-tTB036psBx .carousel-control.left {
    left: 0;
    margin-left: 2.5rem;
  }

  .cid-tTB036psBx .carousel-control.right {
    right: 0;
    margin-right: 2.5rem;
  }

  .cid-tTB036psBx .carousel-control:hover {
    background: #1b1b1b;
    color: #fff;
    opacity: 1;
  }

  @media (max-width: 768px) {

    .cid-tTB036psBx .carousel-control,
    .cid-tTB036psBx .carousel-indicators,
    .cid-tTB036psBx .modal .close {
      position: fixed;
    }
  }

  @media (max-width: 767px) {
    .cid-tTB036psBx .mbr-slider .carousel-control {
      top: auto;
      bottom: 20px;
    }

    .cid-tTB036psBx .mbr-slider>.container .carousel-control {
      margin-bottom: 0;
    }
  }

  .cid-tTB036psBx .carousel-indicators .active,
  .cid-tTB036psBx .carousel-indicators li {
    width: 7px;
    height: 7px;
    margin: 3px;
    background: #000000;
    opacity: 0.5;
    border: 4px solid #000000;
  }

  .cid-tTB036psBx .carousel-indicators .active {
    background: #fff;
  }

  .cid-tTB036psBx .carousel-indicators li {
    max-width: 15px;
    max-height: 15px;
    border-radius: 50%;
  }

  .cid-tTB036psBx .modal {
    padding-left: 0 !important;
    position: fixed;
    overflow: hidden;
    padding-right: 0 !important;
  }

  .cid-tTB036psBx .modal-dialog {
    margin: 0 auto;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .cid-tTB036psBx .modal-content {
    border-radius: 0;
    border: none;
    background: transparent;
  }

  .cid-tTB036psBx .modal-body {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .cid-tTB036psBx .modal-body img {
    width: 100%;
    object-fit: contain;
    max-height: calc(100vh - 1.75rem);
  }

  .cid-tTB036psBx .carousel {
    width: 100%;
  }

  .cid-tTB036psBx .modal-backdrop.in {
    opacity: 0.8;
  }

  .cid-tTB036psBx .modal.fade .modal-dialog {
    transition: margin-top 0.3s ease-out;
  }

  .cid-tTB036psBx .modal.fade .modal-dialog,
  .cid-tTB036psBx .modal.in .modal-dialog {
    transform: none;
  }

  .cid-tTB036psBx .mbr-gallery .item-wrapper {
    cursor: pointer;
  }

  .cid-tTB036psBx .content-head {
    max-width: 800px;
  }
  .cid-tTB037xxR5 {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: transparent;
  }

  .cid-tTB037xxR5 .mbr-overlay {
    background-color: #ffffff;
    opacity: 0.4;
  }

  .cid-tTB037xxR5 form .mbr-section-btn {
    text-align: center;
    width: 100%;
  }

  .cid-tTB037xxR5 form .mbr-section-btn .btn {
    display: inline-flex;
  }

  @media (max-width: 991px) {
    .cid-tTB037xxR5 form .mbr-section-btn .btn {
      width: 100%;
    }
  }

  .cid-tTB037xxR5 .content-head {
    max-width: 800px;
  }
  .cid-tTB037xuCj {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: transparent;
  }

  .cid-tTB037xuCj .mbr-fallback-image.disabled {
    display: none;
  }

  .cid-tTB037xuCj .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  .cid-tTB037xuCj .row {
    justify-content: center;
  }

  .cid-tTB037xuCj .item {
    margin-bottom: 2rem;
  }

  @media (max-width: 767px) {
    .cid-tTB037xuCj .item {
      margin-bottom: 1rem;
    }
  }

  .cid-tTB037xuCj .item .item-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #ffffff;
  }

  @media (max-width: 991px) {
    .cid-tTB037xuCj .item .item-wrapper {
      padding: 2rem 1.5rem;
    }
  }

  @media (min-width: 992px) {
    .cid-tTB037xuCj .item .item-wrapper {
      padding: 2.25rem;
    }
  }

  .cid-tTB037xuCj .content-head {
    max-width: 800px;
  }
  .cid-tTB037D2e8 {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #000000;
  }

  @media (max-width: 991px) {
    .cid-tTB037D2e8 .container {
      padding: 0 16px;
    }
  }

  @media (max-width: 767px) {
    .cid-tTB037D2e8 .container {
      padding: 0 12px;
    }
  }

  .cid-tTB037D2e8 .social-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .cid-tTB037D2e8 .social-row .soc-item {
    margin: 8px;
  }

  .cid-tTB037D2e8 .social-row .soc-item a:hover .mbr-iconfont,
  .cid-tTB037D2e8 .social-row .soc-item a:focus .mbr-iconfont {
    background-color: #ffffff;
  }

  .cid-tTB037D2e8 .social-row .soc-item a .mbr-iconfont {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 32px;
    background-color: #edefeb;
    color: var(--black-text, #163300);
    transition: all 0.3s ease-in-out;
  }

  .cid-tTB037D2e8 .row-links {
    width: 100%;
    justify-content: center;
  }

  .cid-tTB037D2e8 .header-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
  }

  .cid-tTB037D2e8 .header-menu li {
    padding: 0 1rem 1rem 1rem;
  }

  .cid-tTB037D2e8 .header-menu li a {
    color: #ffffff;
  }

  .cid-tTB037D2e8 .header-menu li p {
    margin: 0;
  }

  .cid-tTB037D2e8 .copyright {
    margin-bottom: 0;
    color: #ffffff;
    text-align: center;
  }

  .cid-tTB037D2e8 .mbr-section-title {
    color: #ffffff;
  }